.list-etudiants-container{
    max-width: 1000px;
    width: 100%;
    align-self: center;
    justify-self: center;
    height: auto;
    background: var(--light);
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn .250s forwards ease-in-out;
}
.le-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 55px;
    padding: 15px 20px;
}
.list-title{
    font-family: Jost-light;
}
.list-save{
    position: relative;
    all: unset;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: var(--light-secondary);
    color: var(--dark);
    padding: 0px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-family: Poppins-light;
    transition: all .3s ease-in-out;
}
.list-save:hover{
    background: var(--dark);
    color: var(--light);
}
.list-save .sending{
    /* position: absolute; */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--green);
    animation: sending .5s alternate infinite ease-in-out;
    transition: all .3s ease-in-out;
}
@keyframes sending {
    0%{
        width: 5px;
        height: 5px;
    }
    100%{
        width: 25px;
        height: 25px;
    }
}
.etudiant-list-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    overflow-x: auto;
}
.etudiant-list{ /* table style */
    width: 100%;
    border-color: var(--gray);
    border-collapse: collapse;
}
thead{
    background: var(--bg-color);
}
tr{
    position: relative;
    animation: fadeIn .250s forwards ease-in-out;
}
td{
    height: 45px;
    line-height: 45px;
    text-align: center;
    border: .5px solid var(--light-secondary);
    border-bottom: none;
    font-size: 14px;
    font-family: Jost;
}
.absent{
    background: var(--red);
    color: var(--light);
}
.orderNb{
    border-left: none;
    min-width: 70px;
    max-width: 80px;
}
.etudiant-name{
    min-width: 210px;
    max-width: 250px;
}
.name-data{
    display: flex;
    padding: 0px 5px 0px 10px;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.name-data img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.name-data p{   
    font-size: 14px;
    font-family: Jost;
}
.hour{
    min-width: 45px !important;
}
.hour input{
    width: 20px;
    height: 20px;
    margin: 12.5px 0px;
}
.comment{
    border-right: none;
    min-width: 250px
}
.comment input{
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: var(--dark);
    font-family: Jost;
    background: transparent;
}
.comment input::placeholder{
    color: var(--dark);
}

@media only screen and (max-width: 630px){
    .list-etudiants-container{
        border-radius: 0px;
        width: 100%;
        padding: 10px;
    }
    .le-header{
        padding: 20px 0px;
    }
    .list-title{
        margin-bottom: 20px;
    }
    td{
        border-bottom: .5px solid rgba(128, 128, 128, 0.445);;
    }
    .orderNb{
        border-left: .5px solid rgba(128, 128, 128, 0.445);
    }
}