body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    min-width: 900px;
    min-height: 583px;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    border-radius: 20px;
    overflow: hidden;
}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    flex: 1 1 auto;
}
.about,
.login-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
}
.login-form{
    background: white;
    padding: 0px 70px;
    gap: 30px;
}
.logo{
    width: 250px;
    height: 250px;
    padding: 25px;
    background-color: white;
    border-radius: 50%;
    margin-bottom: 60px;
}
.logo > img{
    width: 200px;
    height: 200px;
    object-fit: contain;
}
.school{
    font-family: Poppins-bold;
}
.second--title{
    text-align: center;
}
.rights{
    font-family: Poppins-light;
}

/* style for the form */
.connexion{
    font-size: 30px;
    font-family: Poppins-medium;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.input-box{
    position: relative;
    width: 100%;
    height: 45px;
    padding-right: 10px;
    border: 1.5px solid var(--gray);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-box .label{
    position: absolute;
    left: 15px;
    font-size: 12px;
    color: var(--gray);
    animation: label .3s forwards ease-in-out;
}



@keyframes label {
    0%{
        transform: translateY(-13px);
        font-size: 13px;
    }
    100%{
        transform: translateY(0);
        font-size: 12px;
        background: transparent;
    }
}

.input-box input{
    width: 100%;
    height: 100%;
    outline: transparent;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-left: 15px;
    color: var(--gray);
    transition: all .3s ease-in-out;
}
.input-box i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray );
    transition: all .3s ease-in-out;
}

/* when the input is focused */
.input-box:has(input:focus){
    border-color: var(--secondary);
}
.input-box:has(input:focus) label{
    color: var(--secondary);
}
.input-box .moveLabel{
    position: absolute;
    left: 15px;
    font-size: 12px;
    animation: labelAnimate .3s forwards ease-in-out;
}
@keyframes labelAnimate {
    100%{
        transform: translateY(-22px);
        font-size: 13px;
        background: white;
    }
}
.input-box:has(input:focus) i{
    color: var(--secondary);
}
.error{
    color: var(--red);
    font-family: Jost;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.isWho-group{
    flex-direction: row;
    justify-content: space-around;
}
.etudiant,
.professor{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.isWho-group input{
    width: 20px;
    height: 20px;
}
.isWho-group label{
    font-size: 13px;
    color: var(--gray);
}
.submit-group input{
    height: 45px;
    border: none;
    outline: transparent;
    background: var(--secondary);
    font-family: Poppins;
    color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 20px -15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.submit-group input:hover{
    background: var(--dark);
}

.other-group{
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0px 20px;
}
.other-group label{
    color: var(--gray);
    font-size: 12px;
}
.other-group a{
    color: var(--gray);
    text-decoration: none;
    font-size: 12px;
    margin-left: auto;
}

#souvenir {
    accent-color: var(--secondary);
}

.forgot-pwd{
    display: block;
    position: relative;
}
.forgot-pwd:hover {
    color: var(--dark);
}

.forgot-pwd::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--dark);
    transform: scale(0);
    transition: all 0.3s ease-out;
}

.professor,
.etudiant {
    accent-color: var(--secondary);
}

.forgot-pwd:hover::after{
    transform: scale(1);
}

/* styles for screens less than 900px */
@media only screen and (max-width:900px){
    .container{
        min-width: auto;
        width: 100%;
        min-height: 100vh;
        border-radius: 0px;
        box-shadow: none;
        justify-content: center;align-items: center;
    }
    .main{
        flex-direction: column;
        max-width: 400px;
        min-height: 100vh;
        background: white;
    }

    /* adjust the about div */
    .about{
        background: white;
    }
    .logo{
        margin: 0;
        width: 200px;
        height: 200px;
    }
    .logo > img{
        width: 150px;
        height: 150px;
    }
    .school,
    .second--title,
    .rights{
        display: none;
    }

    .login-form{
        padding: 10px 40px;
    }
}

@media only screen and (max-width: 400px){
    .login-form{
        padding: 10px 30px 40px 30px;
    }
}
@media only screen and (max-width: 380px){
    .login-form{
        padding: 10px 20px 40px 20px;
    }
    .other-group{
        padding: 0 5px;
    }
}